@charset "UTF-8";

html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.content{
    margin-bottom:100px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Set your desired background color */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #333; /* Set your desired text color */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

form {
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #4CAF50; /* Set your desired button color */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Set your desired button hover color */
}

a {
    color: #3498db; /* Set your desired link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.alert {
    padding: 10px;
    margin-top: 20px;
    background-color: #f44336; /* Set your desired alert color */
    color: white;
    border-radius: 4px;
}