<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--    <div th:fragment="footer">-->
<!--        footer영역입니다.-->
<!--    </div>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer class="page-footer font-small cyan darken-3">
        <div class="footer-copyright text-center py-3">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto">
                        <label class="Essential"><a href=""></a>개인정보처리방침</label>
                        <span><a href=""></a>저작권정책</span>
                        <span><a href=""></a>관련사이트</span>
                        <label class="Essential"><a href=""></a>위치정보 이용약관</label><br>
                        <a class="link-light small" href="#!">사업자등록번호 : 111-11-11111</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">(11111)울산광역시 남구 삼산동</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">전화:080-111-1111(유료)</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">전화:052-111-2222(무료)</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">천문정보 ARS:052-111-3333</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">팩스:052-111-4444</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Copyright(C)2023  Korea Astronomy and Space Science Institute. All Rights Reserved.</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</html>