<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <!-- Head contents -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        function showErrorMessage() {
            alert('Password does not match. Please try again.');
        }

        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('deleteForm');
            form.addEventListener('submit', function (event) {
                if (!validatePassword()) {
                    event.preventDefault(); // Prevent the form from being submitted
                }
            });
        });
        /*]]>*/
    </script>
</head>

<body>
<div layout:fragment="content">
    <h2>게시글 삭제</h2>
    <form id="deleteForm" method="post" th:action="@{'/noticeboard/delete/' + ${id}}">
        <label>비밀번호: <input type="password" name="password" id="password" required /></label><br/>
        <button type="submit">Confirm Delete</button>
    </form>
    <a href="/noticeboard/list">취소</a>
</div>
</body>

</html>